services:
  kong-migrations:
     image: kong:3.6
     container_name: kong-migration
     command: kong migrations bootstrap
     environment:
       KONG_DATABASE: postgres
       KONG_PG_HOST: postgres
       KONG_PG_USER: kong
       KONG_PG_PASSWORD: kongpass
     depends_on:
       - postgres

  mysql1:
    image: mysql:8.0
    container_name: mysql1
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: taskgateway
      MYSQL_USER: springuser
      MYSQL_PASSWORD: springpass
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s


  postgres:
    image: postgres:9.6-alpine
    container_name: kong_postgres
    restart: always
    environment:
      POSTGRES_DB: kong
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kongpass
    ports:
      - "5432:5432"

  kong:
     image: kong:3.6
     container_name: kongGateway
     restart: always
     depends_on:
       - postgres
     environment:
       KONG_DATABASE: postgres
       KONG_PG_HOST: postgres
       KONG_PG_USER: kong
       KONG_PG_PASSWORD: kongpass
       KONG_PROXY_ACCESS_LOG: /dev/stdout
       KONG_ADMIN_ACCESS_LOG: /dev/stdout
       KONG_PROXY_ERROR_LOG: /dev/stderr
       KONG_ADMIN_ERROR_LOG: /dev/stderr
       KONG_ADMIN_LISTEN: 0.0.0.0:8001
     ports:
       - "8000:8000"
       - "8001:8001"

  konga:
     image: pantsel/konga
     container_name: kongaGateway
     restart: always
     ports:
       - "1337:1337"
     environment:
       - NODE_ENV=development

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/kong
      KC_DB_USERNAME: kong
      KC_DB_PASSWORD: kongpass
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_PROXY: edge
    ports:
      - "8080:8080"
    depends_on:
      - postgres


  users:
    build: ./users
    ports:
      - "8081:8081"
    depends_on:
      mysql1:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql1:3306/taskgateway
      - SPRING_DATASOURCE_USERNAME=springuser
      - SPRING_DATASOURCE_PASSWORD=springpass
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/TaskGateway
    extra_hosts:
      - "localhost:host-gateway"